<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="cocktails_dreams_logo.jpg" alt="Cocktails & Dreams">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Discover Cocktails</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">New Cocktail</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Discover Cocktails</a></li>
        <li><a href="#">New cocktail</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- banner -->

<div class="banner">
  <div class="container">
    <h1>Enjoy Cocktails</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 form_background">
      <p>Add a cocktail</p>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.button :submit , class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<!-- container -->
<!-- grille boostrap -->
<!-- chaque plante sera une card -->
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-4">

      <div class="card-trip">
        <%#= image_tag "nom_du_fichier.png" %>
        <img src="<%= cocktail.image_url %>">
        <div class="card-trip-infos">
          <div>
            <h2><%= cocktail.name %></h2>
          </div>
            <h2 class="card-trip-pricing">
            <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure ? "} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
